<nav class="nav">
  <div class="menu">
    <div class="menu-item">
      <a href="/" title="Home">{{- partialCached "icons/castle.svg"
      . .Page -}}</a>
    </div>
    <div class="menu-item">
      <a href="/blog" title="Blog">{{- partialCached
      "icons/writing.svg" . .Page -}}</a>
    </div>
    <div class="menu-item">
      <a href="/loci" title="Loci">{{- partialCached
      "icons/knowledge.svg" . .Page -}}</a>
    </div>
    <div class="menu-item">
      <a href="/config" title="Configs">{{- partialCached
      "icons/configs.svg" . .Page -}}</a>
    </div>
    <div class="menu-item">
      <a href="/game" title="Games">{{- partialCached
      "icons/game-table.svg" . .Page -}}</a>
    </div>
    <div class="menu-item">
      <a href="/project" title="Projects">{{- partialCached
      "icons/projects.svg" . .Page -}}</a>
    </div>
    <div class="menu-item">
      <a href="/search" title="Search">{{- partialCached
      "icons/search.svg" . .Page -}}</a>
    </div>
  </div>
</nav>
