.nav {
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: 0 auto 2rem;
}
.nav .menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
.nav .menu-item a {
  display: block;
  width: fit-content;
  height: fit-content;
}

.nav .menu-item a svg {
  width: 50px;
  height: auto;
}

.menu-item {
  margin: 0.5rem;
  width: fit-content;
}

.menu-item .active {
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}

@media screen and (min-width: 999px) {
  .nav {
    padding: unset;
    max-width: unset;
    position: fixed;
    top: 1.5rem;
    right: 0;
    width: calc(
      (100vw - (var(--main-width) + var(--gap) * 2) - var(--border-size) * 2) /
        2
    );
  }
  .nav .menu {
    margin-left: 0.5rem;
    justify-content: flex-start;
    flex-direction: column;
  }
  .nav .menu-item:hover {
    animation: updown 10s ease infinite;
  }
}
@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-10%);
  }
}
